<div class="card">
  <img
    src="<%- post.yoast_head_json.og_image[0].url%>"
    class="card-img-top img-fluid"
    alt="<%-post.title.rendered %>"
  />
  <div class="card-body">
    <h6 class="card-title">
      <a class="text-info text-uppercase" href="/<%- post.id %> "
        ><%-post.title.rendered %></a
      >
    </h6>
    <p class="card-text"><%-post.excerpt.rendered.substring(0,160)%>...</p>
  </div>
</div>
